/*@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints,mobile)) {
        @content;
    }
}
@mixin menu_link{
    @if (#title:active) {$namepage==welcome} 
    @if(#intro:active){$namepage==introduction} 
    @if (#chiefs:active){$namepage==conductors}
    @if (#eve:active){$namepage==evenements}
    @if (#ceo:active){$namepage==managers}
    @if (#signup:active){$namepage==join_us}
    @if (#member:active){$namepage==member}
}
@mixin page ($namepage){
    @mixin grid {
        .main_menu{
            grid-area:main_menu;
        }
        .main_namepage{
            grid-area:main_namepage;
        }
        #main{
            display: grid;
            grid-template-areas: "main_menu main_namepage";
            grid-template-rows: 650px;
            grid-template-columns: 2fr 10fr;
            grid-gap: 1rem;
        }
    }
    
}
@mixin showpage{
    #title div#intro div #ceo div #chiefs div #eve div #signup div #member div{
            display: none;
        }

}