/*$breakpoints: (
    mobile: 720 px,
);
$namepage: (
    welcome: (
        $main_name: main_title,
    ),
    introduction: (
        $main_name: main_introduction,
    ),
    member: (
        $main_name: main_member,
    ),
    conductors: (
        $main_name: main_conductors,
    ),
    managers: (
        $main_name: main_ceo,
    ),
    evenements: (
        $main_name: main_eve,
    ),
    join_us: (
        $main_name: main_signup,
    ),
);
