:root {
    font-size: 8px;
}
#main {
    display: grid;
    grid-template-areas:
        "main_menu"
        "main_title";
    grid-template-rows: 20px 400px;
    grid-template-columns: 1fr;
}
.main_menu {
    display: flex;
}
