body {
    width: 90%;
    max-width: 900px;
    margin: 2rem auto;
    font: 1rem/1.2 Arial, Helvetica, sans-serif;
    background: rgb(243, 229, 203);
}

h2 {
    text-align: center;
    font-size: 3rem;
}
button {
    font-size: 2rem;
    margin: 2rem auto;
}
.container {
    display: grid;
    grid-area: minmax(1rem, auto);
    align-items: middle;
}
.main_menu {
    grid-area: main_menu;
}
.main_member {
    grid-area: main_member;
}
#main {
    display: grid;
    grid-template-areas: "main_menu main_member";

    grid-template-rows: 650px;
    grid-template-columns: 2fr 10fr;
    grid-gap: 1rem;
}
#title #intro #ceo #eve #signup #chiefs {
    display: none;
}
